# General Amazon Sales Operations

In [1]:
import pandas as pd

sales_data = pd.read_excel('..\\..\\..\\DataSpell\\DataAnalyticsScholarProjects\\AmazonSalesProject\\sales_data.xlsx')

#### ===============================================================
#### Exploring the data
#### ===============================================================

In [2]:
# Get a summary of the sales data
sales_data.info()
sales_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128935 non-null  object
 18  ship-postal-code    128935 non-null  float64
 19  ship-country        128935 non-null  object
 20  promotion-ids       79815 non-null   object
 21  B2B                 128968 non-null  float64
 22  fulfilled-by        39276 non-null   object
dtypes: float64(3), int64(2), object(18)
memory usage: 22.6+ MB

,index,Qty,Amount,ship-postal-code,B2B
count,128975.000000,128975.000000,121180.000000,128935.000000,128968.000000
mean,64487.000000,0.904431,648.561465,463963.108256,0.006754
std,37232.019822,0.313354,281.211687,191475.865632,0.081903
min,0.000000,0.000000,0.000000,110001.000000,0.000000
25%,32243.500000,1.000000,449.000000,382421.000000,0.000000
50%,64487.000000,1.000000,605.000000,500033.000000,0.000000
75%,96730.500000,1.000000,788.000000,600024.000000,0.000000
max,128974.000000,15.000000,5584.000000,989898.000000,1.000000

In [3]:
# columns list
print(sales_data.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [4]:
# looking at the first few rows of data
print(sales_data.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

  Category  ... Qty currency  Amount    ship-city   ship-state  \
0      Set  ...   0      INR  647.62       MUMBAI  MAHARASHTRA
1   Blouse  ...   1      INR  406.00    BENGALURU    KARNATAKA
2   Blouse  ...   1      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3    Dress  ...   0      INR  753.33   PUDUCHERRY   PUDUCHERRY
4      Top  ...   1      INR  574.00      CHENNAI   TAMIL NADU

   ship-postal-code ship-country  \
0          400081.0           IN
1          560085.0           IN
2          410210.0           IN
3          605008.0           IN
4          600073.0           IN

                                       promotion-ids  B2B fulfilled-by
0                                                NaN  0.0    Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108  1.0          NaN
3                                                NaN  0.0    Easy Ship
4                                                NaN  0.0          NaN

[5 rows x 23 columns]

In [5]:
# check columns datatypes
print(sales_data.dtypes)

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                   float64
fulfilled-by           object
dtype: object

#### ===============================================================
#### Cleaning the data
#### ===============================================================

In [6]:
# Check for missing values in the sales data, summing it all up
print(sales_data.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               40
ship-postal-code         40
ship-country             40
promotion-ids         49160
B2B                       7
fulfilled-by          89699
dtype: int64

In [7]:
# Drop any rows that has missing/nan values
sales_data_dropped = sales_data.dropna() # too many due to dropping some unimportant columns

In [8]:
# Drop rows with missing amounts in the "amount" column
sales_data_cleaned = sales_data.dropna(subset=['Amount'])

In [9]:
# Check for missing valued in the cleaned dataset
print(sales_data_cleaned.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         5136
Qty                       0
currency                  0
Amount                    0
ship-city                31
ship-state               38
ship-postal-code         38
ship-country             38
promotion-ids         41705
B2B                       7
fulfilled-by          83640
dtype: int64