# General Amazon Sales Operations

In [1]:
import pandas as pd

sales_data = pd.read_excel('..\\..\\..\\DataSpell\\DataAnalyticsScholarProjects\\AmazonSalesProject\\sales_data.xlsx')

#### ===============================================================
#### Exploring the data
#### ===============================================================

In [2]:
# Get a summary of the sales data
sales_data.info()
sales_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128935 non-null  object
 18  ship-postal-code    128935 non-null  float64
 19  ship-country        128935 non-null  object
 20  promotion-ids       79815 non-null   object
 21  B2B                 128968 non-null  float64
 22  fulfilled-by        39276 non-null   object
dtypes: float64(3), int64(2), object(18)
memory usage: 22.6+ MB

,index,Qty,Amount,ship-postal-code,B2B
count,128975.000000,128975.000000,121180.000000,128935.000000,128968.000000
mean,64487.000000,0.904431,648.561465,463963.108256,0.006754
std,37232.019822,0.313354,281.211687,191475.865632,0.081903
min,0.000000,0.000000,0.000000,110001.000000,0.000000
25%,32243.500000,1.000000,449.000000,382421.000000,0.000000
50%,64487.000000,1.000000,605.000000,500033.000000,0.000000
75%,96730.500000,1.000000,788.000000,600024.000000,0.000000
max,128974.000000,15.000000,5584.000000,989898.000000,1.000000

In [3]:
# columns list
print(sales_data.columns)

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [4]:
# looking at the first few rows of data
print(sales_data.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

  Category  ... Qty currency  Amount    ship-city   ship-state  \
0      Set  ...   0      INR  647.62       MUMBAI  MAHARASHTRA
1   Blouse  ...   1      INR  406.00    BENGALURU    KARNATAKA
2   Blouse  ...   1      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3    Dress  ...   0      INR  753.33   PUDUCHERRY   PUDUCHERRY
4      Top  ...   1      INR  574.00      CHENNAI   TAMIL NADU

   ship-postal-code ship-country  \
0          400081.0           IN
1          560085.0           IN
2          410210.0           IN
3          605008.0           IN
4          600073.0           IN

                                       promotion-ids  B2B fulfilled-by
0                                                NaN  0.0    Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108  1.0          NaN
3                                                NaN  0.0    Easy Ship
4                                                NaN  0.0          NaN

[5 rows x 23 columns]

In [5]:
# check columns datatypes
print(sales_data.dtypes)

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                   float64
fulfilled-by           object
dtype: object

#### ===============================================================
#### Cleaning the data
#### ===============================================================

In [6]:
# Check for missing values in the sales data, summing it all up
print(sales_data.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               40
ship-postal-code         40
ship-country             40
promotion-ids         49160
B2B                       7
fulfilled-by          89699
dtype: int64

In [7]:
# Drop any rows that has missing/nan values
sales_data_dropped = sales_data.dropna() # too many due to dropping some unimportant columns

In [8]:
# Drop rows with missing amounts in the "amount" column
sales_data_cleaned = sales_data.dropna(subset=['Amount'])

In [9]:
# Check for missing valued in the cleaned dataset
print(sales_data_cleaned.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         5136
Qty                       0
currency                  0
Amount                    0
ship-city                31
ship-state               38
ship-postal-code         38
ship-country             38
promotion-ids         41705
B2B                       7
fulfilled-by          83640
dtype: int64

#### ===============================================================
#### Slicing and Filtering Data
#### ===============================================================

In [10]:
# Select a subset of the DataFrame based on the "Category" column
category_data = sales_data_cleaned[sales_data_cleaned['Category'] == "Top"]
print(category_data)

         index             Order ID      Date                        Status  \
4            4  407-1069790-7240320  04-30-22                       Shipped
47          47  408-9281152-6213100  04-30-22                       Shipped
54          54  402-7944191-1869101  04-30-22                       Shipped
67          67  404-4535078-5241919  04-30-22                       Shipped
109        109  403-7266170-1163500  04-30-22  Shipped - Delivered to Buyer
...        ...                  ...       ...                           ...
128923  128923  402-1698543-5164342  05-31-22                       Shipped
128941  128941  403-3035549-4142738  05-31-22                       Shipped
128942  128942  403-3035549-4142738  05-31-22                       Shipped
128949  128949  403-7050981-8813953  05-31-22                       Shipped
128965  128965  408-5154281-4593912  05-31-22                     Cancelled

       Fulfilment Sales Channel  ship-service-level    Style              SKU  \
4          Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL
47         Amazon      Amazon.in          Expedited  JNE3744     JNE3744-TU-S
54         Amazon      Amazon.in          Expedited    J0301       J0301-TP-L
67         Amazon      Amazon.in          Expedited  JNE3645   JNE3645-TP-N-L
109      Merchant      Amazon.in           Standard  JNE3648   JNE3648-TP-N-M
...           ...            ...                ...      ...              ...
128923     Amazon      Amazon.in          Expedited    J0418      J0418-TP-XL
128941     Amazon      Amazon.in          Expedited    J0118     J0118-TP-XXL
128942     Amazon      Amazon.in          Expedited    J0301     J0301-TP-XXL
128949     Amazon      Amazon.in          Expedited    J0113       J0113-TP-M
128965     Amazon      Amazon.in          Expedited    J0119    J0119-TP-XXXL

       Category  ... Qty currency Amount              ship-city  \
4           Top  ...   1      INR  574.0                CHENNAI
47          Top  ...   1      INR  665.0           SECUNDERABAD
54          Top  ...   1      INR  493.0              BENGALURU
67          Top  ...   1      INR  432.0                   PUNE
109         Top  ...   1      INR  518.0                 MUMBAI
...         ...  ...  ..      ...    ...                    ...
128923      Top  ...   1      INR  749.0              HYDERABAD
128941      Top  ...   1      INR  529.0              BENGALURU
128942      Top  ...   1      INR  518.0              BENGALURU
128949      Top  ...   1      INR  574.0                CHENNAI
128965      Top  ...   1      INR  574.0  Prayagraj (ALLAHABAD)

           ship-state  ship-postal-code ship-country  \
4          TAMIL NADU          600073.0           IN
47          TELANGANA          500017.0           IN
54          KARNATAKA          560076.0           IN
67        MAHARASHTRA          411014.0           IN
109       MAHARASHTRA          400076.0           IN
...               ...               ...          ...
128923      TELANGANA          500084.0           IN
128941      KARNATAKA          560102.0           IN
128942      KARNATAKA          560102.0           IN
128949     TAMIL NADU          600021.0           IN
128965  UTTAR PRADESH          211007.0           IN

                                            promotion-ids  B2B fulfilled-by
4                                                     NaN  0.0          NaN
47           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
54           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
67           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
109     Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
...                                                   ...  ...          ...
128923  IN Core Free Shipping 2015/04/08 23-48-5-108,V...  0.0          NaN
128941                                                NaN  0.0          NaN
128942                                                NaN  0.0          NaN
128949                                                NaN  0.0          NaN
128965                                                NaN  0.0          NaN

[10165 rows x 23 columns]

In [11]:
# Select a subset of the DataFrame where amounts > 1000
category_data = sales_data_cleaned[sales_data_cleaned['Amount'] > 1000]
print(category_data)

         index             Order ID      Date                        Status  \
32          32  404-9632124-1107550  04-30-22  Shipped - Delivered to Buyer
43          43  408-3478480-0881162  04-30-22                       Shipped
46          46  408-3917043-5314763  04-30-22                       Shipped
52          52  408-7138000-9728362  04-30-22                       Shipped
69          69  405-6480932-8759528  04-30-22                       Shipped
...        ...                  ...       ...                           ...
128938  128938  403-6231612-3153120  05-31-22                       Shipped
128954  128954  403-8464685-9792368  05-31-22                       Shipped
128957  128957  402-8261465-0622733  05-31-22                       Shipped
128966  128966  406-9812666-2474761  05-31-22                       Shipped
128973  128973  402-6184140-0545956  05-31-22                       Shipped

       Fulfilment Sales Channel  ship-service-level   Style              SKU  \
32       Merchant      Amazon.in           Standard   J0011      J0011-LCD-M
43         Amazon      Amazon.in          Expedited  SET360   SET360-KR-NP-M
46         Amazon      Amazon.in          Expedited   J0230      J0230-SKD-L
52         Amazon      Amazon.in          Expedited  SET282   SET282-KR-PP-M
69         Amazon      Amazon.in          Expedited   J0381   J0381-SKD-XXXL
...           ...            ...                ...     ...              ...
128938     Amazon      Amazon.in          Expedited   J0002      J0002-SKD-S
128954     Amazon      Amazon.in          Expedited   J0376      J0376-SKD-S
128957     Amazon      Amazon.in          Expedited   J0230      J0230-SKD-M
128966     Amazon      Amazon.in          Expedited  SET224  SET224-KR-NP-XS
128973     Amazon      Amazon.in          Expedited   J0012     J0012-SKD-XS

       Category  ... Qty currency  Amount       ship-city      ship-state  \
32          Set  ...   1      INR  1233.0   VISAKHAPATNAM  ANDHRA PRADESH
43          Set  ...   1      INR  1126.0         LUCKNOW   UTTAR PRADESH
46          Set  ...   1      INR  1146.0          ONGOLE  ANDHRA PRADESH
52          Set  ...   1      INR  1033.0         dimapur        NAGALAND
69          Set  ...   1      INR  1146.0        VIJAPURA       KARNATAKA
...         ...  ...  ..      ...     ...             ...             ...
128938      Set  ...   1      INR  1186.0       GORAKHPUR   UTTAR PRADESH
128954      Set  ...   1      INR  1063.0       NEW DELHI           DELHI
128957      Set  ...   1      INR  1349.0          RANCHI       JHARKHAND
128966      Set  ...   1      INR  1132.0  CHENNAI 600042      TAMIL NADU
128973      Set  ...   1      INR  1199.0           Halol         Gujarat

        ship-postal-code ship-country  \
32              530016.0           IN
43              226017.0           IN
46              523001.0           IN
52              797112.0           IN
69              586201.0           IN
...                  ...          ...
128938          273006.0           IN
128954          110070.0           IN
128957          834002.0           IN
128966          600042.0           IN
128973          389350.0           IN

                                            promotion-ids  B2B fulfilled-by
32      Amazon PLCC Free-Financing Universal Merchant ...  0.0    Easy Ship
43           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
46                                                    NaN  0.0          NaN
52           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
69           IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
...                                                   ...  ...          ...
128938                                                NaN  0.0          NaN
128954                                                NaN  0.0          NaN
128957       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN
128966                                                NaN  0.0          NaN
128973       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0          NaN

[13332 rows x 23 columns]

In [16]:
# Select a subset of the DataFrame based on multiple conditions
category_and_qty_data = sales_data_cleaned[(sales_data_cleaned['Amount'] > 1000) & (sales_data_cleaned['Qty'] == 3)]
print(category_and_qty_data)

         index             Order ID                 Date  \
2107      2107  405-7829062-0073141             04-29-22
3289      3289  406-3338330-9401954             04-28-22
19180    19180  407-9962496-1568355             04-19-22
20534    20534  406-1124784-1093950             04-18-22
23739    23739  407-9225645-2865924             04-16-22
27300    27300  406-6222239-3031561             04-14-22
32278    32278  171-7532609-3249907  2025-11-22 00:00:00
33331    33331  405-4755854-9568304  2025-10-22 00:00:00
33332    33332  405-4755854-9568304  2025-10-22 00:00:00
34572    34572  404-0430156-5953153  2025-10-22 00:00:00
38113    38113  407-8127937-6618709  2025-07-22 00:00:00
46555    46555  402-7068488-0986720  2025-02-22 00:00:00
46867    46867  408-9783812-8938718  2025-02-22 00:00:00
48679    48679  406-5249521-6184310  2025-01-22 00:00:00
48680    48680  406-3024132-0408339  2025-01-22 00:00:00
49348    49348  408-3889919-3918768             05-31-22
54605    54605  171-9419863-7830701             05-27-22
57091    57091  405-3036482-4663513             05-25-22
57182    57182  171-8212807-5971522             05-25-22
74960    74960  171-3502000-6477118  2005-10-22 00:00:00
76157    76157  171-1831905-5247524  2005-09-22 00:00:00
77432    77432  405-2065226-8609112  2005-08-22 00:00:00
79891    79891  405-7311519-3898766  2005-07-22 00:00:00
79902    79902  405-4225331-3338755  2005-07-22 00:00:00
79903    79903  405-4225331-3338755  2005-07-22 00:00:00
120770  120770  402-7744718-3391556  2006-06-22 00:00:00
120797  120797  404-3709653-3513958  2006-06-22 00:00:00
124468  124468  406-6192147-7814754  2006-04-22 00:00:00

                              Status Fulfilment Sales Channel   \
2107    Shipped - Returned to Seller   Merchant      Amazon.in
3289    Shipped - Delivered to Buyer   Merchant      Amazon.in
19180                        Shipped     Amazon      Amazon.in
20534   Shipped - Delivered to Buyer   Merchant      Amazon.in
23739   Shipped - Delivered to Buyer   Merchant      Amazon.in
27300                        Shipped     Amazon      Amazon.in
32278   Shipped - Delivered to Buyer   Merchant      Amazon.in
33331                        Shipped     Amazon      Amazon.in
33332                        Shipped     Amazon      Amazon.in
34572   Shipped - Delivered to Buyer   Merchant      Amazon.in
38113   Shipped - Delivered to Buyer   Merchant      Amazon.in
46555                        Shipped     Amazon      Amazon.in
46867                        Shipped     Amazon      Amazon.in
48679   Shipped - Delivered to Buyer   Merchant      Amazon.in
48680                        Shipped     Amazon      Amazon.in
49348                        Shipped     Amazon      Amazon.in
54605                        Shipped     Amazon      Amazon.in
57091                        Shipped     Amazon      Amazon.in
57182                        Shipped     Amazon      Amazon.in
74960                        Shipped     Amazon      Amazon.in
76157                        Shipped     Amazon      Amazon.in
77432   Shipped - Delivered to Buyer   Merchant      Amazon.in
79891   Shipped - Returned to Seller   Merchant      Amazon.in
79902   Shipped - Returned to Seller   Merchant      Amazon.in
79903   Shipped - Returned to Seller   Merchant      Amazon.in
120770  Shipped - Returned to Seller   Merchant      Amazon.in
120797  Shipped - Returned to Seller   Merchant      Amazon.in
124468                       Shipped     Amazon      Amazon.in

       ship-service-level    Style                  SKU Category  ... Qty  \
2107             Standard  JNE3365  JNE3365-KR-1052-A-S   Blouse  ...   3
3289             Standard  JNE3798         JNE3798-KR-M    Dress  ...   3
19180           Expedited  JNE3291        JNE3291-KR-XL   Blouse  ...   3
20534            Standard    J0341           J0341-DR-M    Dress  ...   3
23739            Standard  JNE1951  JNE1951-KR-155-XXXL   Blouse  ...   3
27300           Expedited  JNE3365    JNE3365-KR-1052-M   Blouse  ...   3
32278            Standard  JNE3797         JNE3797-KR-M    Dress  ...   3
33331           Expedited  JNE3465        JNE3465-KR-XL   Blouse  ...   3
33332           Expedited  JNE3465         JNE3465-KR-M   Blouse  ...   3
34572            Standard   SET249      SET249-KR-NP-XL      Set  ...   3
38113            Standard   SET186       SET186-KR-DH-S      Set  ...   3
46555           Expedited   SET098       SET098-KR-PP-M      Set  ...   3
46867           Expedited   SET269      SET269-KR-NP-XL      Set  ...   3
48679            Standard    BL009        BL009-61BLACK   Blouse  ...   3
48680           Expedited    BL035        BL035-161GOLD   Blouse  ...   3
49348           Expedited   SET331      SET331-KR-NP-XS      Set  ...   3
54605           Expedited    J0341         J0341-DR-XXL    Dress  ...   3
57091           Expedited    J0119         J0119-TP-XXL      Top  ...   3
57182           Expedited  JNE3437         JNE3437-KR-S   Blouse  ...   3
74960           Expedited   SAR135               SAR135    Dress  ...   3
76157           Expedited   SET044       SET044-KR-NP-S      Set  ...   3
77432            Standard  JNE3781       JNE3781-KR-XXL   Blouse  ...   3
79891            Standard  JNE2171     JNE2171-KR-437-M   Blouse  ...   3
79902            Standard  JNE3671         JNE3671-TU-M      Top  ...   3
79903            Standard  JNE3673         JNE3673-TU-M      Top  ...   3
120770           Standard  JNE3609         JNE3609-KR-L   Blouse  ...   3
120797           Standard  JNE3739         JNE3739-KR-S   Blouse  ...   3
124468          Expedited  JNE3764       JNE3764-KR-XXL   Blouse  ...   3

       currency  Amount      ship-city      ship-state  ship-postal-code  \
2107        INR  1128.0          PALAM     MAHARASHTRA          431720.0
3289        INR  2175.0         KANPUR   UTTAR PRADESH          208001.0
19180       INR  1326.0        Tenkasi      TAMIL NADU          627855.0
20534       INR  2232.0          Kochi          KERALA          682036.0
23739       INR  1104.0      Hyderabad       TELANGANA          501510.0
27300       INR  1128.0          PALAM     MAHARASHTRA          431720.0
32278       INR  2175.0   RAXAUL BAZAR           BIHAR          845305.0
33331       INR  1551.0      MANGALURU       KARNATAKA          575006.0
33332       INR  1458.0      MANGALURU       KARNATAKA          575006.0
34572       INR  2040.0         MUMBAI     MAHARASHTRA          400069.0
38113       INR  1893.0           PUNE     MAHARASHTRA          411037.0
46555       INR  2016.0       ARSIKERE       KARNATAKA          573103.0
46867       INR  2397.0       NAMAKKAL      TAMIL NADU          637001.0
48679       INR  1017.0     JALPAIGURI     WEST BENGAL          735101.0
48680       INR  1116.0     JALPAIGURI     WEST BENGAL          735101.0
49348       INR  1923.0  Thiruchengode      TAMIL NADU          637215.0
54605       INR  2655.0    NAVI MUMBAI     MAHARASHTRA          410206.0
57091       INR  1722.0       DOMBIVLI     MAHARASHTRA          421201.0
57182       INR  1551.0     JAMSHEDPUR       JHARKHAND          831001.0
74960       INR  2058.0     VILLUPURAM      TAMIL NADU          605602.0
76157       INR  1836.0       GUNTAKAL  ANDHRA PRADESH          515801.0
77432       INR  1248.0       PILICODE          KERALA          671313.0
79891       INR  1572.0   MAHENDRAGARH         HARYANA          123029.0
79902       INR  1764.0   MAHENDRAGARH         HARYANA          123029.0
79903       INR  1797.0   MAHENDRAGARH         HARYANA          123029.0
120770      INR  1704.0        Chennai      TAMIL NADU          600033.0
120797      INR  1377.0      BENGALURU       KARNATAKA          560102.0
124468      INR  1161.0      BENGALURU       KARNATAKA          560066.0

       ship-country                                      promotion-ids  B2B  \
2107             IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
3289             IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
19180            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
20534            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
23739            IN  Amazon PLCC Free-Financing Universal Merchant ...  1.0
27300            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
32278            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
33331            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
33332            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
34572            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
38113            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
46555            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
46867            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
48679            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
48680            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
49348            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
54605            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
57091            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
57182            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
74960            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
76157            IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0
77432            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
79891            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
79902            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
79903            IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
120770           IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
120797           IN  Amazon PLCC Free-Financing Universal Merchant ...  0.0
124468           IN       IN Core Free Shipping 2015/04/08 23-48-5-108  0.0

       fulfilled-by
2107      Easy Ship
3289      Easy Ship
19180           NaN
20534     Easy Ship
23739     Easy Ship
27300           NaN
32278     Easy Ship
33331           NaN
33332           NaN
34572     Easy Ship
38113     Easy Ship
46555           NaN
46867           NaN
48679     Easy Ship
48680           NaN
49348           NaN
54605           NaN
57091           NaN
57182           NaN
74960           NaN
76157           NaN
77432     Easy Ship
79891     Easy Ship
79902     Easy Ship
79903     Easy Ship
120770    Easy Ship
120797    Easy Ship
124468          NaN

[28 rows x 23 columns]

#### ===============================================================
#### Agregating Data
#### ===============================================================

In [ ]:
# Total sales by category
category_totals = sales_data.groupby('Category')['Amount'].sum().reset_index()
category_totals = category_totals.sort_values(by=['Amount'], ascending=False)

In [ ]:
# Average amount by category and status
# Average amount by category and fulfilment
fulfilment_averages = sales_data.groupby(['Category', 'Fulfilment'], as_index=False)['Amount'].mean().sort_values(by=['Amount'], ascending=False)
# Average amount by category and status
category_and_status_average = sales_data.groupby(['Category', 'Status'], as_index=False)['Amount'].mean().sort_values(by=['Amount'], ascending=False)

In [ ]:
# Total Sales by fulfilment and shipment type
fulfilment_and_shipment_totals = sales_data.groupby(['Fulfilment', 'Courier Status'], as_index=False)['Amount'].sum().sort_values(by=['Amount'], ascending=False)

#### ===============================================================
#### Exporting Data
#### ===============================================================

In [ ]:
category_and_status_average.to_excel('average_sales_by_category.xlsx')